.wordplay-root {
  padding: 0 !important;
}

.icon-text {
  display: none;
}

.wordplay__video-column .wordplay__data-wrapper {
  display: none;
}

.gutter {
  display: none;
}

.el-row.el-row--flex.minute:not(.loaded) {
  display: none;
}
